
<div class="comments_all">
<ul>
<% @comments.each do |comment| %>

<span>Post topic: <%= @post.topic %> Author: <%= @author.firstname %> <%= @author.lastname%></span>
<li><%= comment.content%></li>
<% end %>

</ul>
</div>