
<div class="comments_all">
<ul>
<% @comments.each do |comment| %>
<li><%= comment.content%></li>
<%=link_to 'Edit', edit_comment_path(comment.id) %>
<%=link_to 'Delete', destroy_comment_path(comment.id), method: :delete %><br />
<% end %>

</ul>
</div>