
<div class="comments_all">
<span>Post topic: <%= @post.topic %></span><br />
<span> Author: <%= @author.firstname %> <%= @author.lastname%></span>
<ul>
<% @comments.each do |comment| %>
<li><%= comment.content%></li>
<% end %>

</ul>
</div>