<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class='content'>
  <div class='visible'>
    <p>
      Hello
    </p>
    <ul>
      <% if user_signed_in? %>
      <li><%=current_user.firstname%> !</li>
      <% else %>
      <li>world !</li>
      <% end %>
      <li>users !</li>
      <li>friends !</li>
      <li>everybody !</li>
    </ul>
  </div>
</div>