<div class="posts_my">
<ul>
	<% Post.where(user_id: params[:id]).each do |post| %>
		<span><%=post.topic %></span>
		<li><%=post.content %></li> 
		
		<%=link_to 'Edit', edit_post_path(id: params[:id], post_id: post.id) %>
		<%=link_to 'Delete', destroy_post_path(post_id: post.id), method: :delete %>
		
		<br />

	<% end %>
</ul>	
</div>