<div class="posts_my">
<ul>
	<% Post.where(user_id: params[:id]).each do |post| %>
	<span><%=post.topic %></span>
	<li><%=post.content %><button class="button30" id='<%= post.id%>' onclick='location.href= "/posts/update/<%= post.id%>"'></li><br />
	<% end %>
</ul>	
</div>