// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments_my { 
	top:100px;
	color:white;
	position: absolute;
}


.comments_all {
	top:100px;
	color:white;
	position: absolute;
}

.new_comment {
	top:100px;
	left:200px;
	color:white;
	position: absolute;

}

h3 {
	position: relative;
	top:30px;
	left: 300px;
}