// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments_my { 
	top:100px;
	color:white;
	position: absolute;
}


.comments_all {
	top:100px;
	color:white;
	position: absolute;
}