// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
position: absolute;
margin-top: 10px auto;
color: white;
width: 700px;
text-align:left;
top:80px;
left:450px;
}

.new_post {
position:relative;
top:40px;  
right:200px	

}

.button30 {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  text-decoration: none;
  border: .5em solid rgba(0,0,0,0);
  border-radius: 100%;
 	background-color: #82BF56;
  outline: none;
  opacity: 1; 
  cursor: pointer;
  position:absolute;
  right: 10px;
  box-shadow:
   inset 0 -3px 10px rgba(255,255,255,1),
   inset 0 3px 10px rgba(0,0,0,.4),
   0 2px 4px rgba(0,0,0,.9);
}

.button30:hover {
  opacity: 1; 
}

.post_link {
  color: red;
}

.post_link:hover {
  color: white;
}

.posts_my {
  color: white;
  left: 400px;
  top: 100px;
  position:absolute;
}
.edit_form {
  position: absolute;
  top: 100px;
  left: 100px;
}

#post_index {
  width: 375px;
  height: 20px;
  margin-bottom:15px;
}

#post_text_area {
  outline: none;
  border-radius: 10px;
}

#newpost_button {
  margin-top: 15px;
  display: inline-block;
  background-color:#E74C3C;
  border-color:#E74C3C;
  color: white;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#newpost_button:hover {
  text-decoration: none;
  opacity: 0.8;
}
#newpost_button:active {
  position: relative;
  top: 1px;
}

.number {
  color: #82BF56;
  font-size: 12px;
}

.topic, .author {
  text-transform: uppercase;
  text-align :center;
  margin-bottom:30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.topic {
  color: #f76f00;
}
.author {
  color: #F2CF66;
}


.posts_comments {
 font-size: 12px;
 
}

.post_content {
  margin: 20px auto;
  font-size: 18px;
  text-transform: uppercase;
}
.new_post label {
 font-family: 'Lato', sans-serif; 
 font-size: 17px;
 
}

.new_post input {
  border-radius: 10px;
}