// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {  
	width:100%;  
	min-height:750px; 
	margin: 0px;
 	position:relative;
	background-color:#3554a3;
	}


.content { 
 position: 
 absolute;  
 top: 50%;  
 left: 50%;  
 transform: translate(-50%, -50%);  
 font-size: 35px;  
 line-height: 40px;  
 font-family: 'Lato', sans-serif;  
 color: #ecf0f1;  
 height: 160px;  
 overflow:hidden;
 }

.visible {  
	font-weight:600;  
	overflow:hidden;  
	height:40px;  
	padding:0 40px;    
&:before {    
	content:'[';    
	left: 0;    
	line-height:40px;
}  
&:after {    
	content:']';    
	position:absolute;    
	right: 0;    
	line-height:40px;
}  &:after, &:before {    
	position:absolute;    
	top:0;    
	color:#16a085;    
	font-size:42px;    
	-webkit-animation-name: opacity;    
	-webkit-animation-duration: 2s;    
	-webkit-animation-iteration-count: infinite;    
	animation-name: opacity;    
	animation-duration: 2s;    
	animation-iteration-count: infinite;  
	}
}

p {  
	display:inline;  
	float:left;  
	margin:0;}

#home_name {  
	margin-top:0;  
	padding-left:110px;  
	text-align:left;  
	list-style:none;  
	-webkit-animation-name: change;  
	-webkit-animation-duration: 6s;  
	-webkit-animation-iteration-count: infinite;  
	animation-name: change;  
	animation-duration: 6s;  
	animation-iteration-count: infinite;
}

#home_name li {  
	line-height:40px;  
	margin:0;}
	@-webkit-keyframes opacity 
	{  0%, 100% {opacity:0;}  50% {opacity:1;}}
	@-webkit-keyframes change {  0%, 12%, 100% {
		transform:translateY(0);}  17%,29% {
		transform:translateY(-25%);}  34%,46% {
		transform:translateY(-50%);}  51%,63% {
		transform:translateY(-75%);}  68%,80% {
		transform:translateY(-50%);}  85%,97% {
		transform:translateY(-25%);
		}
		}

	@keyframes opacity {  
		0%, 100% {
		opacity:0;
		}  
		50% {
		opacity:1;
		}
		}
	@keyframes change {  0%, 12%, 100% {
		transform:translateY(0);}  17%,29% {
		transform:translateY(-25%);}  34%,46% {
		transform:translateY(-50%);}  51%,63% {
		transform:translateY(-75%);}  68%,80% {
		transform:translateY(-50%);}  85%,97% {
		transform:translateY(-25%);
		}
	}

#ProfilePagestyle{
  position: relative;
  width: 100%;
  min-height: 800px;
  margin: 0;
  
}


 .button {
    position: relative;
    right: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    

}


#ProfilePage {
    /* Move it off the top of the page, then centre it horizontally */
    position: absolute;
    left: 290px;
    margin: 250px auto;
    width: 635px;
    padding: 30px 30px;
    color: white;
    text-shadow: 0 0 10px black;
    background-color: rgba(255,255,255, 0.5);
    

}


#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

}

#Photo
{
    background-image: url("/images/profile.png");
    background-size: cover;
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

}


#Photo2
{
    background-image: url("/images/profile2.png");
    background-size: cover;
    /* Width and height of photo container */
    width: 200px;
    height: 200px;
}
#PhotoOptions
{
    text-align: center;
    width: 200px;

}

#Info
{
    width: 400px;
    text-align: left;
    font-size: 17px;
    /* Move it to the right */
    float: right;
    font-weight: bold;
}


#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;

}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;
    color: #350866;
    text-shadow: 0 0 10px white;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;


}



 #regfname, #regemail, #regpas, #regun, #regdob {
	width: 220px;
	height: 20px;
	outline: none;
	text-align: center;
	border: 1px solid #bbb;      
	text-transform:uppercase;
}

#regemail {
	margin-left: 25px;
}

#regun {
	margin-left: -2px;
}


#regpas {
	margin-right: 0px;
}

#regdob {
	margin-left: 35px;
}

// Users Page 

.users {

position:absolute;
color: white;
top: 180px;
left:600px;

}

.link_user {
	color: white;
}

